

<div class ="browse-file">
<% @posts.each do |post| %>
     <h3> <%= post.title %></h3>
    <span class="pull-right"><a href="/browse/#{@post.id}/edit" class="btn btn-warning">EDIT</a>  <a href="/browse/#{@post.id}" class="btn btn-danger">Delete</a></span>
      <%= post.description %>
     <p> Category: <%= post.category %></p>
      <!-- <span><a href="/<%= post.id %>">[edit]</a></span>
    </p> -->

    <p class="meta">Created: <%= post.created_at %></p>


<% end %>
</div>
